//Light Mode Colors

$lmDefaultBg:#ffffff;
$lmAlternateBg:#f6f6f7;
$lmDefaultText:#6c757d;
$lmAlternateText:#6c757d;
$lmMapBg:#f6f6f7;
$lmPolygonBg:#ffffff;
$lmActivePolygonBg:#dadada;

//Dark Mode Colors
$dmDefaultBg:#161625;
$dmAlternateBg:#1e1e30;
$dmDefaultText:#ffffff;
$dmAlternateText:#6c757d;
$dmMapBg:#1e1e30;
$dmPolygonBg:#3b3b3b;
$dmActivePolygonBg:#0f0f0f;

//Default Colors
$confirmedType:#007bff;
$deceasedType:#ff073a;
$recoveredType:#28a745;
$confirmedTypeLight:rgba(0, 123, 255, 0.125);
$deceasedTypeLight:rgba(255, 7, 58, 0.125);
$recoveredTypeLight:rgba(40, 167, 69, 0.125);

:export{
  lmDefaultBg:$lmDefaultBg;
  lmAlternateBg:$lmAlternateBg;
  lmDefaultText:$lmDefaultText;
  lmAlternateText:$lmAlternateText;
  lmMapBg:$lmMapBg;
  lmPolygonBg:$lmPolygonBg;
  lmActivePolygonBg:$lmActivePolygonBg;

  dmDefaultBg:$dmDefaultBg;
  dmAlternateBg:$dmAlternateBg;
  dmDefaultText:$dmDefaultText;
  dmAlternateText:$dmAlternateText;
  dmMapBg:$dmMapBg;
  dmPolygonBg:$dmPolygonBg;
  dmActivePolygonBg:$dmActivePolygonBg;

  confirmedType:$confirmedType;
  deceasedType:$deceasedType;
  recoveredType:$recoveredType;
  confirmedTypeLight:$confirmedTypeLight;
  deceasedTypeLight:$deceasedTypeLight;
  recoveredTypeLight:$recoveredTypeLight;
}
